{% extends "::base.html.twig" %}

{% block body %}
    {{ parent() }}
    <section id="main">
        <div class="container">
            <div>
                <form method="post" id="selecteur">
                    {{ form_widget(form) }}
                    <input type="submit" value="Filtrer">
                    <input type="reset" value="Initialiser">
                </form>
            </div>
            <div class="row">
                <div class="xs-20">
                    <div id="cards" class="clearfix">
                        {% include "::carte_ajax.html.twig" %}
                    </div>
                </div>
                <div class="xs-4">
                    <div id="deck">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ include("::deck_ajax.html.twig") }}
                        {% else %}
                            <p>Vous devez vous connecter pour créer un deck</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
