<tr>
    {% for valeur in Entity.valeursPourVue %}
        <td>
            {{ valeur }}
        {% if loop.index < Entity.valeursPourVue|length %}
            </td>
        {% endif %}
    {% endfor %}
        <span class="pull-right">
            <span><input type="button" class="btn btn-xs btn-primary btn-action editer" value="éditer" data-url="{{ path('itroom_user_'~nom~'_editer', {'id':Entity.id}) }}"/></span>
            <span><input type="button" class="btn btn-xs btn-danger btn-action supprimer" value="supprimer" data-url="{{ path('itroom_user_'~nom~'_supprimer', {'id':Entity.id}) }}"/></span>
        </span>
    </td>
</tr>