label[for="jeus_quickstrikebundle_selecteur_traitCarte_2"] {
	background: url("../images/Quickstrike/picto/body.png") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:0;
	overflow:hidden;
	padding-top:40px;
}