.carte_classeur{
	height : 410px;
	width : 275px;
}

.carte_classeur-agrandi{
	height : 410px;
	width : 550px;
}

.carte_deck{
	height : 135px;
	width : 90px;
}

.div-agrandi{
	position: absolute;
        left:25%;
	top:25%;
        width : 550px;
        z-index :1;
        display:none;
}

.div-carte:hover .div-agrandi{
    display:block;
}

#deck {
    height:750px;
    overflow:auto;
}
